@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-orange: #d97652;
    --main-navy: #263140;
    --main-beige: #f2e9d8;
    --color-black: #000000;
    --color-white: #ffffff;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

html {
    font-size: 10px;
}

body * {
    box-sizing: border-box;
    font-family: 'SpoqaHanSansNeo-Regular';
    color: var(--color-black);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

header,
main,
footer {
    padding: 3rem 15vw;
}

header,
main {
    background-color: var(--main-beige);
}

/* header */
header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* main */
main {
    overflow: hidden;
    height: 90rem;
    padding-top: 13rem;
    display: flex;
    justify-content: space-between;
    gap: 12.8rem;
}

/* section */
section {
    background-color: var(--color-white);
}
.wrap-article1 {
    margin: 8rem 0 12rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11rem;
}
.wrap-article2 {
    margin-bottom: 19.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.wrap-content2 {
    text-align: left;
}

.wrap-aside2 {
    position: relative;
}
.wrap-aside1 {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 5rem 5.8rem;
    width: 128rem;
    height: 20rem;
    border-radius: 3rem;
    background-color: var(--main-navy);
    color: var(--color-white);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wrap-aside1 > form {
    position: relative;
    width: 53rem;
    height: 6rem;
}
.aside-form-input {
    position: absolute;
    padding: 1rem 5rem;
    width: 100%;
    height: 100%;
    border-radius: 6rem;
}
.aside-form-input::placeholder {
    color: #767676;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.footer-a {
    width: 4.2rem;
    height: 4.2rem;
    background-color: #d97652;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* text */
.main-h {
    padding-top: 19rem;
    width: 73.7rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6rem;
}

[class^='main-p'] {
    width: 43.9rem;
}
.main-p1 {
    margin-top: 4rem;
}
.main-p2 {
    margin-bottom: 4rem;
}

.section-p1 {
    margin: 0 0 30px 0;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.5rem;
}
.section-p1,
.section-p2 {
    width: 51rem;
}

.section-p3 {
    color: var(--main-orange);
    font-size: 4.8rem;
    font-weight: 700;
}
.section-span-p4 {
    color: var(--main-orange);
}
.section-p5 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5.2rem;
    width: 74rem;
}

[class^='aside-p'] {
    color: var(--color-white);
}
.aside-p1 {
    font-size: 3.6rem;
    font-weight: 700;
}
.aside-p2 {
    margin-top: 2rem;
    font-size: 1.4rem;
}

/* button */
[class$='btn'] {
    border-radius: 4rem;
    background-color: var(--main-orange);
    color: var(--color-white);
    font-weight: 700;
}

.header-btn,
.main-btn {
    width: 12rem;
    height: 4rem;
}

.section-btn {
    width: 12.7rem;
    height: 4rem;
}
.section-btn-top {
    position: fixed;
    right: 2.4rem;
    bottom: 18rem;
    width: 5rem;
    height: 5rem;
}
.section-btn-top:hover {
    border-radius: 50%;
    background-color: #767676;
}

.aside-form-btn {
    position: absolute;
    margin: 0.5rem 38.8rem;
    width: 13.6rem;
    height: 5rem;
}

/* image */
img {
    object-fit: cover;
}

.header-img-logo {
    width: 13rem;
    height: 4rem;
}

.main-img-cat {
    width: 41.5rem;
    height: 89rem;
}

.section-img-cat1,
.section-img-cat2 {
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
}
.section-img-cat1 {
    width: 66rem;
    height: 39rem;
}
.section-img-cat2 {
    margin: 0 3.6rem;
    width: 37.8rem;
    height: 37.8rem;
}
.section-img-cat3 {
    width: 100vw;
    height: 34rem;
    opacity: 0.6;
    vertical-align: top;
}

.aside-form-img {
    position: absolute;
    margin: 1.8rem;
    width: 2.4rem;
    height: 2.4rem;
}

.footer-img-logo {
    width: 22.6rem;
    height: 7rem;
}
