@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-orange: #d97652;
    --main-navy: #263140;
    --main-beige: #f2e9d8;
    --color-black: #000000;
    --color-white: #ffffff;
}

html {
    font-size: 10px;
}

body {
    width: auto;
    color: var(--color-black);
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

header,
main,
section,
footer {
    padding: 1vw 15vw;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    align-items: center;
    gap: 0 3rem;
}

header,
main {
    background-color: var(--main-beige);
}

/* main */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
main div {
    width: 43.9rem;
}

/* section */
section {
}
.wrap-article1 {
    margin: 80px 0 120px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wrap-article2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.wrap-article-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* footer */
footer {
}

/* text */
.main-h {
    width: 73.7rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6rem;
}
.main-p {
}
.section-p1 {
    margin: 0 0 30px 0;
    width: 51rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.5rem;
}
.section-p2 {
    width: 51rem;
}
.section-p3 {
    color: var(--main-orange);
    font-size: 4.8rem;
    font-weight: 700;
}
.section-span-p4 {
    color: var(--main-orange);
}
.section-p5 {
}

/* button */
[class$='btn'] {
    border-radius: 4rem;
    background-color: var(--main-orange);
    color: var(--color-white);
    font-weight: 700;
}
.header-btn,
.main-btn {
    width: 12rem;
    height: 4rem;
}
.section-btn {
    width: 12.7rem;
    height: 4rem;
}
.section-btn-top {
    width: 4rem;
    height: 4rem;
    border: 1px solid;
}
.section-btn-top:hover {
}

/* image */
.header-img-logo {
    width: 13rem;
    height: 4rem;
}
.main-img-cat {
    width: 41.5rem;
    height: 89rem;
}
.section-img-cat1 {
    width: 66rem;
    height: 39rem;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
    object-fit: cover;
}
.section-img-cat2 {
    width: 37.8rem;
    height: 37.8rem;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
    object-fit: cover;
}
.section-img-cat3 {
    width: auto;
    height: 34rem;
    object-fit: cover;
}
.footer-img-logo {
    width: 22.6rem;
    height: 7rem;
}
